.app{
    background: grey;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app nav{
    color: black;
    display: flex;
    gap: 50px;
    /* margin-top: 3rem; */
}

.app h2{
    cursor: pointer;
}